@charset "UTF-8";
/* identificador (id), somente para tegs especificas */
/* 
    em HTML é id = em CSS é #
    em HTML é class = em CSS é .
*/

body {
  background-color: #d6fde9;
  font: Arial, sans-serif;
}

h1 {
  color: #1e402f;
}

h1#principal {
  text-align: center;
  background-color: #3c805e;
  color: white;
}

h2 {
  color: #3c805e;
}

.basico {
  color: #73cfa1;
}

.intermediario {
  color: #80793c;
}

.avancado {
  color: rgb(210, 100, 100);
}
